
form{
    border:3px solid black;
    border-style: dotted;
    height:580px;
    width:500px; 
      /* margin-left:420px;
      margin-right:400px; */
      background-color: aqua;
}
.pithabar{
    height:200px;
    width: 400px;
    margin-top:15px;
    /* margin-right:50px;
   margin-left:40px; */
   border:2px solid black;
border-style: dotted;

}
.vortabar{
    height:150px;
    width: 400px;
   
    /* margin-right:50px;
   margin-left:40px; */
   border:2px solid black;
   border-style: dotted;
   
}

label{
    display: block;
      margin: 10px;    /* margin:top,right,bottom,left */ 
    /* text-align: center; */
}
button{
    background-color: blue;
    color:white;
    border: 2px double blueviolet;
    box-shadow: 5px 10px 10px 5px rgba(red, green, blue, alpha);
 }
 